.background {
    background-image: url("../assets/images/sunny-day.jpg");
    background-size: cover;
    background-repeat: no-reapet;
    height: 100vh;
}

.col-kitten {
    background-image: url("../assets/images/kitten-medium.png");
    background-repeat: round;
    background-size: cover;
    height: 25vh;
    margin-top: 30vh;
    margin-left: 50vh;
}
